{
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "plugins": ["import", "security", "notice"],
  "rules": {
    "strict": 0,
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "max-len": ["error", 250],
    "no-plusplus": 0,
    "import/no-unresolved": 1,
    "func-names": 0,
    "notice/notice": [
      0,
      {
        "nonMatchingTolerance": 0,
        "onNonMatchingHeader": "replace",
        "mustMatch": "Synopsys Inc.",
        "template": "/** Copyright (c) <%= YEAR %> [COMPANY NAME] All rights reserved worldwide. */"
      }
    ],
    "prop-types": [0],
    "class-methods-use-this": [
      2,
      {
        "exceptMethods": [
          "render",
          "setCookie",
          "getCookie",
          "clearCookie",
          "mdHtml",
          "getAnchorPosition",
          "fetchCoursesAndResults",
          "_decodeError",
          "constructKey",
          "consoleLog",
          "process",
          "transformLMSdata",
          "genericizePath",
          "stripCMI",
          "keyCount",
          "LMSInitialize",
          "LMSGetDiagnostic",
          "courseNumber"
        ]
      }
    ],
    "no-unused-vars": [2, { "args": "after-used", "argsIgnorePattern": "^_" }],
    "eqeqeq": 1,
    "import/no-extraneous-dependencies": 1,
    "import/no-webpack-loader-syntax": 1,
    "import/no-named-as-default": 1,
    "import/no-named-as-default-member": 0,
    "new-cap": 1,
    "no-confusing-arrow": 1,
    "no-shadow": 1,
    "consistent-return": 1,
    "prefer-rest-params": 1,
    "no-bitwise": 1,
    "no-loop-func": 1,
    "no-restricted-syntax": 1,
    "arrow-body-style": 1,
    "import/prefer-default-export": 1,
    "linebreak-style": 0
  },
  "globals": {
    "document": true,
    "ENV": true,
    "localStorage": true,
    "window": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "parser": "babel-eslint",
  "overrides": [
    {
      "files": "**/__tests__/**",
      "env": {
        "jest": true
      },
      "plugins": ["jest"],
      "globals": {
        "jest": true,
        "shallowWithContext": true,
        "mountWithContext": true
      },
      "rules": {
        "max-len": [
          "error",
          250,
          { "ignoreStrings": true, "ignoreTemplateLiterals": true }
        ],
        "import/no-unresolved": "off",
        "indent": [2, 2],
        "import/extensions": 2,
        "jest/lowercase-name": [
          "error",
          {
            "ignore": ["describe"]
          }
        ],
        "jest/consistent-test-it": ["error", { "fn": "it" }],
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "warn",
        "jest/no-jest-import": "error",
        "jest/no-identical-title": "error",
        "jest/no-large-snapshots": ["warn", { "maxSize": 100 }],
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error",
        "jest/valid-describe": "error"
      }
    }
  ]
}
